*
{
    margin: 0px;
    padding: 0%;
}

body
{
    width: 400px;
    height: 600px;
    background-color: rgb(10, 10, 63);
    color: antiquewhite;
   
}
.input-image-box
{
    border-style: dotted;
    width: 380px;
    height: 200px;
    border-color: rgb(18, 88, 168);
    margin: 5px;
}
.input-image-box input 
{
    width: 360px;
    padding: 5px;
    font-size: large;
    font-family: cursive;
    background-color: rgb(3, 0, 79);
    border: none;
    height: 100%;
    color: antiquewhite;
    word-break: keep-all;
}
.btn-box
{

}
.result{}